<template>
  <div class="blank-layout">
    <div :style="{padding: mergedConfig.style.padding}">
      <router-view/>
    </div>
  </div>
</template>

<script>
import { compMixin } from "tmta-core";

export default {
  name: "BlankLayout",
  mixins: [compMixin],
  i18nData: {
    // get value by $tmtalang('name')
    en: {
      name: "name"
    },
    zh_cn: {
      name: "名称"
    }
  },
  data() {
    return {
      // >>> Don't touch me - defaultConfig
      defaultConfig: {
        style: {
          padding: "10px"
        }
      }
      // <<< Don't touch me - defaultConfig
    };
  }
};
</script>

<style lang="scss" scoped>
.blank-layout {
}
</style>
