<template>
  <div id="app">
    <h3>Demo Place: 
      <router-link to="/demo/page-1">Route-1</router-link> | <router-link to="/demo/page-2">Route-2</router-link>
    </h3>
    <div>
      <router-view/>
    </div>
  </div>
</template>
