<template>
  <div>
    <div class="comp-wrapper">
      <Layout :config="config"/>
    </div>
    
    <CompConfigPanel v-model="config" :data-schema="dataSchema"/>
  </div>
</template>

<style lang="scss">
#app {
  .comp-wrapper {
    border: 1px dashed #dcdfe6;
    border-left: none;
    border-right: none;
    margin-bottom: 20px;
  }
}
</style>

<script>
import { CompConfigPanel } from "tmta-core";
import Layout from "./components/BlankLayout.vue";
import dataSchema from "../data-schema.js";

export default {
  name: "app",
  components: {
    CompConfigPanel,
    Layout
  },
  data() {
    return {
      config: dataSchema.default || {},
      dataSchema
    };
  }
};
</script>
